<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RadioStationApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RadioStationApp.Properties.Settings>
            <setting name="laRed" serializeAs="String">
                <value>https://21933.live.streamtheworld.com/LA_RED_AM910AAC.aac</value>
            </setting>
            <setting name="continental" serializeAs="String">
                <value>https://20823.live.streamtheworld.com/CONTINENTAL_SC</value>
            </setting>
            <setting name="metro" serializeAs="String">
                <value>http://mp3.metroaudio1.stream.avstreaming.net:7200/metro</value>
            </setting>
            <setting name="mitre" serializeAs="String">
                <value>http://turadioenvivo.com:11031/stream</value>
            </setting>
            <setting name="vorterix" serializeAs="String">
                <value>http://104.131.4.100:8000/stream</value>
            </setting>
            <setting name="delPlata" serializeAs="String">
                <value>http://181.119.157.98:8800/amdelplata.mp3</value>
            </setting>
            <setting name="elDestape" serializeAs="String">
                <value>https://cdn2.instream.audio/:8000/stream</value>
            </setting>
            <setting name="rivadavia" serializeAs="String">
                <value>https://18743.live.streamtheworld.com/RIVADAVIAAAC.aac</value>
            </setting>
            <setting name="latina" serializeAs="String">
                <value>http://streaming.latina101.com.ar:8080/RadioLatina</value>
            </setting>
            <setting name="cnn" serializeAs="String">
                <value>http://estudio.cnnradioargentina.com.ar:8000/stream</value>
            </setting>
        </RadioStationApp.Properties.Settings>
    </userSettings>
</configuration>